@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none !important;
  }
  body {
    background-color: #101;
    /* background-color: #303947; */
  }

  @font-face {
    font-family: Montserrat-Bold;
    src: url("assets/fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: Montserrat-Medium;
    src: url("assets/fonts/Montserrat-Medium.ttf");
  }

  ::-webkit-scrollbar {
    background: #111;
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    background: #fde047;
    border-radius: 3rem;
  }

  .scroll-none::-webkit-scrollbar {
    background: #111;
    width: 0 !important;
    height: 0 !important;
  }

  .h-115 {
    height: 26rem;
  }

  .w-105 {
    width: 27rem;
  }

  .w-125 {
    width: 30rem;
  }

  .w-150 {
    width: 35rem;
  }

  .h-125 {
    height: 35rem;
  }

  .page-link a {
    display: block;
    padding: 0.5rem 1rem;
  }

  .main-tab {
    @apply w-full bg-slate-800 text-white flex items-center justify-between px-7 py-4 rounded-xl
  }
  
  .single-chart {
    width: 90%;
    color: white !important;
    justify-content: space-between;
  }
  
  .circular-chart {
    display: block;
  }
  
  .circle-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 4;
  }
  
  .circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart.red .circle {
    stroke: #bf1f41;
  }

  .percentage {
    fill: #666;
    color: white !important;
    font-family: Montserrat-Bold;
    font-size: 0.11em;
    text-anchor: middle;
  }

  text {
    color: white !important
  }
}
